body{
    text-align: center;
    font-family: san system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecerabranch{
 background-color: rgb(0, 73, 73);
 box-shadow: 0px 5px 30px 0px   rgba(0, 0, 0, 0.5);
 color: antiquewhite;
 font-weight: bold;
 margin: 0;
 padding: 0.5em;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid whitesmoke;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}

